/* miscellaneous */
body {
  margin: 0;
}

.ul {
  padding-left: 0;
}

p {
  font-weight: 800;

  color:rgb(73, 73, 73);

  text-align: center;
  margin: 1% 20% 1% 20%
    /* border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray; */
}

body{
  font-size: 12pt;
  font-family: 'Manrope', sans-serif;
}

button:hover {
  /* opacity: 0.85; */
  border: solid;
  border-width: 1px;
  border-color: gray;
}

button {
  font-family: 'Manrope', sans-serif;
  /* transition: 0.1s; */
  cursor: pointer;
  border: none;
}

/* divs-navbar */

.div-nav {

  background-image: linear-gradient(to right,   #CCDAF8,#F7BEB2);
  /* background-color: lightgrey; */

  display: flex;
  height: 35px;

  
  font-size: 12t;
  font-weight: 300;
  color:rgb(87, 86, 86);

}

.div-nav>div {
  /* margin: 1px; */
  border: solid;
  border-color: white;
  border-width: 1px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.div-nav-name {
  overflow-wrap: break-word;
  flex-basis: 20%;
  
}

.div-nav-appTitle {
  /* font-family: 'Patua One', cursive; */
  color:white;
  flex-basis: 60%;

  font-size: 14pt;
  font-weight: 800;

 
}

.div-nav-date {
  text-align: center;
  flex-basis: 10%;
 
}

.form-nav-add {
  margin: 1px;
  text-align: center;
  flex-basis: 10%;
  display: flex;
}

.form-nav-add-button {
  flex-basis: 100%;
  background-color: lightcoral;


  font-size: 12pt;
  color:white;

}


/* divs-body*/

.div-main {
  display: flex;
  height: 40px;
  margin: 2px 0 0 0;
}

.div-img {

  display: flex;
  flex-basis: 5%;
  height: 30px;
  justify-content: center;
  opacity: 0.7;


}

.div-name {
  flex-basis: 15%;

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-weight: 800;
}

.div-date {
  flex-basis: 10%;

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  color:gray
}





/* buttons */



.form-stock {
  display: flex;
  flex-basis: 60%
}

.btn-stock-inside {
  font-size: 12pt;
  flex-basis: 33%;
  padding: 0;
}

.btn-stock-inside-center {
  margin: 0 2px 0 2px
}

.btn-stock-inside-left {
  margin: 0 0 0 0;
  border-radius: 20px 0 0 20px;
}

.btn-stock-inside-right {
  margin: 0 0 0 0;
  border-radius: 0px 20px 20px 0px;
}

.form-edit {
  display: flex;
  flex-basis: 10%;
}

.btn-edit-inside {

  font-size: 12pt;
  flex-basis: 100%;
  border-radius: 20px 0px 0px 20px;
}



.grey {
  background-color: darkgrey;
}

.orange {
  background-color: orange;
}

.green {
  background-color: lightgreen;
}

@media (max-width:550px) {

p{
      font-size: 8pt;
      margin: 1% 25% 1% 30%
}

  /* *****navbar**** */

.div-nav{
  height:30px;
  font-size: 7pt;
  line-height: 10px;
}


  .div-nav-name {
    flex-basis: 30%;

  }

  .div-nav-appTitle {
    font-size: 10pt;
    flex-basis: 50%;
  }

  .div-nav-date {
    flex-basis: 10%;
  }

  .form-nav-add {
    flex-basis: 10%;
  }

  .form-nav-add-button {
    font-size: 7pt;
    line-height: 10px;
  
  }

  /* ****body**** */

 
  .div-img {
    flex-basis: 7%;
    height:17px;
    padding-top: 10px;
  }

  .div-name {
    display:flexbox;
    font-size: 8pt;
    flex-basis: 23%;
    text-align: left;
  }

  .form-stock {
    flex-basis: 47%
  }

  .btn-stock-inside {
    font-size: 7pt;
  }

  .div-date {
    font-size: 7pt;
    flex-basis: 10%;
  }

  .form-edit {
    flex-basis: 13%;
  }

  .btn-edit-inside {
    font-size: 8pt;
  }

}
